
body
{
background-color:blue;
}


.options
{
margin-top: 200px;
  border: 3px solid #3d3d44;
    padding-left: 30px;
    font-size: 21px;
        height: 80;
    padding-top: 15px;
}

 .form-control-update
 {
 width: 20% !important;
 float: left;
 }

.container-styles
{
margin-top: 100x;
}