


<!-- -->
{% load static %}
<!-- -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/website_list_style.css' %}">

{% endblock css %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

{% block content %}

<div class="container container-styles">


<div class="options">

  <select class="form-control form-control-update" id="category_id" name="category">
       <option> Sortuj według Kategorii </option>
       <option> all </option>
      {% for object in categories %}
      <option> {{ object.name }} </option>
      {% endfor %}
  </select>

</div>

<table class='table'>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
          <th scope="col"><a id="url" href="#" onclick="changeLink('url');" >Url</a></th>
          <th scope="col"><a id="title2" href="#" onclick="changeLink('title2');" >Title</a></th>
          <th scope="col"><a id="category" href="#" onclick="changeLink('category');" >Category</a></th>
        <th scope="col"><a id="meta_description" href="#" onclick="changeLink('meta_description');" >Meta_description</a></th>
        <th scope="col"><a id="alexa_rank" href="#" onclick="changeLink('alexa_rank');">Alex_rank</a></th>
          <th scope="col"><a id="date_added" href="#" onclick="changeLink('date_added');">Date added</a></th>
        <th scope="col"><a id="date_updated" href="#" onclick="changeLink('date_updated');">Date updated</a></th>
      </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
          <tr>
         <th scope="col"> {{ forloop.counter }}  </th>
         <th scope="col">{{ object.url }}</th>
       <th scope="col"> {{object.title2 }} </th>
          <th scope="col"> {{ object.category }}</th>
        <th scope="col"> {{ object.meta_description }} </th>
        <th scope="col"> {{ object.alexa_rank }}</th>
        <th scope="col">{{ object.date_added }}</th>
        <th scope="col">{{ object.date_updated }} </th>
      </tr>

{% endfor %}
</table>
</table>
    </div>

    <script src="{% static 'js/source.js' %}"></script>

{% endblock %}
